.main{
    display: flex;
    justify-content: space-around;
}
.list ul{
    display: flex;
    list-style: none;
}
 .list ul li {
    padding-right: 5px;
    
 }   
 .maincontend{
    display: flex;
   
 }
.image{
    width: auto;
    height: 600px;
}
.left{
   
    width: 70%;
}
.block{
    border-bottom: 1px solid black;
}
.right{
    
    border: 1px solid black;
    padding: 7px 10px;
    background-color: yellow;
    height: 110px;
}
.right h1{
    padding: 0 0 0 29px;
    background-color: red;
    color:white;
    margin-top: 0.5px;
}